@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

a{
  color: black !important;
}
small{
  font-size: 0.9rem;
}
.link{
  color: #64b5f6 !important;
}
.brand-logo{
  font-family: 'Lobster Two', cursive;
}
.mycard {
  margin-top: 50px;
}

.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

/* label underline focus color */
.input-field input[type=email]:focus,
.input-field input[type=text]:focus,
.input-field input[type=password]:focus {
  border-bottom: 1px solid #64b5f6 !important;
  box-shadow: 0 1px 0 0 #64b5f6 !important;
}

.submit-btn {
  margin-top: 35px;
}
